section#slider {color: #3333ff;
background-color: #3333ff;
border-color: #ff0000;
}

.button{
    color: #cce6ff;
}

.btn.btn-default.btn-lg {
    color: #cce6ff;
}

.btn-default {
    color: #cce6ff;
}

.custom-file-upload{
  color:  #ff0000;
}
.custom-file-input{
    color: #ff0000
}