section#slider {color: #3333ff;
background-color: #3333ff;
border-color: #ff0000;
}

.button{
    color: #cce6ff;
}

.btn.btn-default.btn-lg {
    color: #cce6ff;
}

.btn-default {
    color: #cce6ff;
}

.custom-file-upload{
  color:  #ff0000;
}
.custom-file-input{
    color: #ff0000
}

label{
    display: inline-block;
    /*float: left;*/
    clear: left;
    width: 250px;
    text-align: left;
}


input {
  display: inline-block;

}

.col-lg{
    display: inline-block;
}

.results{
    background-color: #cce6ff;
}

.questions{
    background-color:#e25c5c
}

.asc_col{
    background-color: #cce6ff;
}


    

